GROQ_API_KEY=your_groq_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here

N8N_WEBHOOK_URL=https://ahmedrhegazy-pharma-api.hf.space/ocr
PHARMA_GROQ_MODEL=llama-3.1-8b-instant  # or llama-3.3-70b-versatile for higher quality
